.contactWindow {
  height: 350px;
  transform: translate(-50%, -50%);
  color: darkslategray;
  font-family: Arial Rounded MT Bold, Helvetica Rounded, Arial, sans-serif;
  display: flex;
  transform: rotate(90deg) translateY(50px);
  transform-origin: right top;
  font-size: 8pt;
  
}

.contactCards {
  background: white;
  height: 100%;
  width: 100%;
  padding: 10px;
  text-transform: lowercase;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contactInfo {
  justify-content: space-evenly;
  line-height: 23px;
}

img {
  width: 225px;
  height: 152px;
}

h2 {
  font-size: 13pt;
  text-transform: lowercase;
  line-height: 40px;
  color: rgba(88, 176, 122);
  font-family: "Courgette", cursive;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

i {
  color: rgba(88, 176, 122);
}

i:hover {
  color: tan;
}

.edit_buttons {
  display: flex;
  justify-content: space-between;
}

button {
  border: 0px;
}

.edit {
  width: 218px;
  align-items: center;
  border: 1px solid rgba(88, 176, 122);
  margin: 1px;
  font-size: 7pt;
  color: darkslategray;
  background: white;
}

.names {
  width: 46.5%;
  align-items: center;
  border: 1px solid rgba(88, 176, 122);
  margin: 1px;
  font-size: 7pt;
}
