.greenNav {
    background: rgba(88, 176, 122, 0.75);
    height: 100vh;
    width: 175px;
    justify-content: center;
    padding-top: 20px;
    color: white;
    font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif; 
    position: fixed;
    float:left;
    z-index: 1;
}
.title{
    text-align: center;
    font-family: 'Courgette', cursive;
    font-size: 20pt;
}

.addDir {
    font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif; 
    font-size: 8pt
}

.addDir1 {
    font-family: Arial Rounded MT Bold,Helvetica Rounded,Arial,sans-serif; 
    font-size: 7pt
}


.addSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 20px;
}

.navInput {
    width: 80%;
    align-items: center;
    border: 1px solid rgba(88, 176, 122) ;
    margin: 2px;
    font-size: 7pt;
}

.text {
    font-family: Arial Rounded MT,Helvetica Rounded,Arial,sans-serif; 
    font-size: 7pt;
}

.nav {
    background: transparent;
}

#navIcons {
    color: white
}

.navButtons {
    display: inline;
}